@page "/BlogArticles/EditBlogArticle/{id:guid}"
@model Kvblog.Client.Razor.Pages.Admin.BlogArticles.EditBlogArticleModel
@{
    Layout = "_Layout";
}

<div class="row">
    <div class="col">
    </div>
    <div class="col-8">
        <h1>Edit Blog Article</h1>
        <partial name="BlogArticleFormPartialView" model="@Model.BlogArticle" />
    </div>
    <div class="col">
    </div>
</div>
