<section class="cta-section theme-bg-light py-5">
	<div class="container text-center single-col-max-width">
        <h1 class="heading">
            <span style="color:#e74c3c;font-weight:bold;">A</span>
            <span style="color:#3b7eeb;font-weight:bold;">I</span>
            <span style="color:#2ecc71;font-weight:bold;"> </span>
            <span style="color:#c200ff;font-weight:bold;">&</span>
            <span style="color:#2ecc71;font-weight:bold;"> </span>
            <span style="color:#dc3545;font-weight:bold;">C</span>
            <span style="color:#000;font-weight:bold;">h</span>
            <span style="color:#f1c40f;font-weight:bold;">i</span>
            <span style="color:#3498db;font-weight:bold;">l</span>
            <span style="color:#9b59b6;font-weight:bold;">l</span>
        </h1>
		<div class="intro">A dev journal featuring me and my ever-loyal AI minions.<br> Exploring the limits of agent driven development aka vibe coding</div>
		<div class="single-form-max-width pt-3 mx-auto">
                <form method="get" asp-page="/Index" class="signup-form row g-2 g-lg-2 align-items-center">
				<div class="col-12 col-md-9">
					<label class="sr-only" for="search">Search...</label>
                                        <input type="text" id="search" name="search" class="form-control me-md-1 semail" placeholder="Search..." value="@Context.Request.Query["search"]">
				</div>
				<div class="col-12 col-md-2">
					<button type="submit" class="btn btn-primary">Search</button>
				</div>
			</form><!--//signup-form-->
		</div><!--//single-form-max-width-->
	</div><!--//container-->
</section>