@using Kvblog.Client.Razor.Utilities;
<header class="header text-center">
    @* <h1 class="blog-name pt-lg-4 mb-0"><a class="no-text-decoration" asp-area="" asp-page="/Index">Project Kvblog</a></h1> *@
    <nav class="navbar navbar-expand-lg navbar-dark">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navigation" aria-controls="navigation" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div id="navigation" class="collapse navbar-collapse flex-column">
            <div class="profile-section pt-3 pt-lg-0">
                <img class="profile-image mb-3 rounded-circle mx-auto" src="~/themes/devblog/assets/images/profile.png" alt="image">
                <div class="bio mb-3">Edinburgh-based senior software engineer with a passion for .NET, software architecture and assigning side-projects to codex<br><a asp-area="" asp-page="/Public/About">Find out more about me</a></div><!--//bio-->
                <hr>
            </div><!--//profile-section-->

            <ul class="navbar-nav flex-column text-start">
                <li class="nav-item">
                    <a class="nav-link" asp-area="" asp-page="/Index"><i class="fas fa-home fa-fw me-2"></i>Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" asp-area="" asp-page="/Public/AboutThis"><i class="fa-solid fa-code me-2"></i>About this</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" asp-area="" asp-page="/Public/About"><i class="fas fa-user fa-fw me-2"></i>About Me</a>
                </li>
                @if (User.Identity.IsAuthenticated)
                {
                    if (UserRoleHelper.IsAdmin(User.Claims))
                    {
                        <li class="nav-item">
                            <a class="nav-link" asp-area="" asp-page="/Admin/Dashboard"><i class="fas fa-user fa-fw me-2"></i>Admin</a>
                        </li>
                    }
                    <li class="nav-item">
                        <a class="nav-link" asp-area="" asp-page="/Account/Logout"><i class="fas fa-user fa-fw me-2"></i>Logout</a>
                    </li>
                }
                else
                {
                    @* <li class="nav-item">
                        <a class="nav-link" asp-area="" asp-page="/Account/Login"><i class="fas fa-user fa-fw me-2"></i>Login</a>
                    </li> *@
                }
            </ul>
            <ul class="social-list list-inline py-3 mx-auto">
                <li class="list-inline-item"><a href="https://www.linkedin.com/in/vasileiosk/" target="_blank"><i class="fab fa-linkedin-in fa-fw"></i></a></li>
                <li class="list-inline-item"><a href="https://github.com/vasiliskhub" target="_blank"><i class="fab fa-github-alt fa-fw"></i></a></li>
            </ul><!--//social-list-->
        </div>
    </nav>
</header>